.container {
	display: block;
	max-width: 1000px;

	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col-4 {
	float: left;
	width: 33.33333333%;
	margin-bottom: 30px;
}

@media (max-width: 1000px) {
	.contaniner {
		width: 600px;
	}
}

@media(max-width: 600px) {
	.col-4 {
		width: 100%;
	}
}